header{
    background-image: url(../../image/7.png);
    object-fit: cover;
    background-position: center;
    background-size: cover;
    height: 900px;
}
b {
    background-color: rgb(1, 1, 175);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav {

    text-align: end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    background: #000;
    padding: 20px;
}

a {
    margin: 20px 20px 20px 20px;
    font-size: 30px;
    padding: 4px;
    color: rgb(247, 247, 247);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
a:hover {
    color: rgb(10, 85, 247);
    background-color: rgba(255, 254, 254, 0.082)
}
.logo {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
}

.logo img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid blue;
}
.image img{
    position: absolute;
    width: 140px;
    height: 120px;
    margin-top: 15%;
    margin-left: 78%;
    transition: transform 0.3s;
}
.image-1 img{
    position: absolute;
    width: 100px;
    height: 120px;
    margin-top: 28%;
    margin-left: 80%;
    transition: transform 0.3s;
}
.image-2 img{
    position: absolute;
    width: 250px;
    height: 120px;
    margin-top: 40%;
    margin-left: 75%;
    transition: transform 0.3s;
}
.image img:hover{
    transform: translate(-10px);
}
.image-1 img:hover{
    transform: translate(-10px);
}
.image-2 img:hover{
    transform: translate(-10px);
}
.caption h1{
    position: absolute;
    font-size: 45px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20%;
    margin-left: 15%;

}
 .para{
    position: absolute;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 24%;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.205);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s;
}
 .para-1{
    position: absolute;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 34%;
    margin-left: 15%;
    background-color: rgba(17, 14, 17, 0.158);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s;
}
 .para-2{
    position: absolute;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 46%;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.178);
    border-radius: 20px;
    padding: 20px;
    transition: transform 0.3s;
}
.para:hover{
    transform: translate(-10px);
    background-color: rgba(255, 255, 255, 0.514);
    color: #000;
}
.para-1:hover{
    transform: translate(-10px);
    background-color: rgba(255, 255, 255, 0.514);
    color: #000;
}
.para-2:hover{
    transform: translate(-10px);
    background-color: rgba(255, 255, 255, 0.514);
    color: #000;
}
.container-4 img {
    margin: 10px;
    width: 360px;
    height: 220px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 255, 0.158);
    border-radius: 10px;
}

.container-4:hover {
    transform: translateY(-10px);
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.247);
}

.container-4 h2:hover {
    color: rgb(4, 255, 234);
}

.container-4 h2 {
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.container-4 p {
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container-4 {
    align-items: center;
    width: 30%;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 20px;
    transition: transform 0.3s, box-show 0.3s, background-color 0.3s;
}
.container {
    display: flex;
    text-align: center;
    background-color: rgba(0, 247, 247, 0.253);
    padding: 15px;
    margin: 20px;
}
h3{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.language {
    display: flex;
    text-align: center;
    background-color: rgba(0, 247, 247, 0.253);
    padding: 15px;
    margin: 20px;
}
.language-1 img{
    width: 450px;
    height: 450px;
    padding: 10px;
    transition: transform 0.3s;
}
.language-1 img:hover{
    transform: translate(-10px);
}
.language-2 img{
    width: 450px;
    height: 450px;
    padding: 10px;
    transition: transform 0.3s;
}
.language-2 img:hover{
    transform: translate(-10px);
}
.language-3 img{
    width: 450px;
    height: 450px;
    padding: 10px;
    transition: transform 0.3s;
}
.language-3 img:hover{
    transform: translate(-10px);
}
footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    margin: 20px;
    background-color: aquamarine;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact h5 {
    color: rgb(0, 47, 255);
    font-size: 20px;
    margin: 30px;

    font-family: Arial, Helvetica, sans-serif;
}

.contact a h5:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.contact h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin: 15px;
    color: white;
}

/* .contact {
    background-color: rgba(0, 47, 255, 0.733);
    display: flex;
    align-items: start;
    flex-direction: column;
} */

.contact a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.contact {
    display: flex;
    justify-content: center;
}

.contact h5 {
    color: rgb(0, 47, 255);
    font-size: 20px;
    margin: 30px;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.contact a h5:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.contact {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.contact a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

.contact h5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.country {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: blue;
    padding: 10px;
}

.pnc {
    display: flex;
    align-self: center;
    margin-right: 50%;
    flex-direction: column;
    transition: transform 0.3s;

}

.pnc img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    object-fit: cover;
    margin-left: 100%;
}

.pnc img:hover {
    transform: scale(0.9);
}

.invite {
    color: white;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20%;
    font-size: 20px;
    background-color: rgba(240, 248, 255, 0.411);
    padding: 20PX;
    border-radius: 20PX;
}

.invite h6 {
    font-size: 20px;
}